*.egg-info
**/*.pyc

out/**
!out/*/.gitkeep
**/*-checkpoint.py
**/.log
Pipfile.lock
.vscode/settings.json

scripts_local/
**/.DS_Store
data/local/**

logs/**

visualizer/data/items/**
visualizer/data/measured_values/**
visualizer/data/profile_dataframe.pkl
